<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
               <input type="hidden" value="<%= Total=0 %>"> 
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% prods.forEach(product=> { %>
                           
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.pr.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.pr.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.pr.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.pr.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <div class="btn"><%=Total+= product.qty*product.pr.price %></div>
                                    
                                   <div class="btn">
                                 Total : <%= product.qty %></div>
                                </div>
                                <form action="/cart/delete-product" method="POST">
                                    <input type="hidden" name="deleteid" value="<%= product.pr.id %>">
                                        <button class="btn" type="submit"  >Delete</button>
                                    </form>
                            </article>
                            <% }) %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                        
                       
            </main>
            <footer >
                <a href="checkout/<%= Total %>" class="pay" >Total Payable Amount <%= Total %></a> 
            </footer>
            <%- include('../includes/end.ejs') %>